name: Generate release zips

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  #   paths-ignore:
  #     - '**.md'
  # pull_request:
  #   paths-ignore:
  #     - '**.md'

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install Dependencies
        run: |
          sudo apt-get update && sudo apt-get install --yes --no-install-recommends ffmpeg
          pip3 install ffmpeg-normalize

      - name: Check out the repo
        uses: actions/checkout@v3

      # - name: Verify the package before building
      #   run: ./build-checks.sh

      - name: Build the release zip packages
        if: github.event_name != 'pull_request'
        run: ./release.sh

      - name: Upload binaries to release
        uses: marvinpinto/action-automatic-releases@latest
        if: github.event_name != 'pull_request'
        with:
          title: "Latest Voice Pack"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: edgetx-sdcard-sounds-*.zip
          automatic_release_tag: 'latest'
          prerelease: true
